*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/imagen_fondo_login3.jpg);
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-position: right center;
}

ul{
    width: 100%;
    text-align:right;
    height: 80px;
   
}
li{
    padding: 25px 35px;
    color:white;
    font-weight: 900;
    display: inline-block;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li:hover{
    background-color: rgb(97, 108, 166);
    cursor: pointer;
}
.last-item{
    margin-right: 80px;
}
.box-main{
    width: 100%;

}