*{
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}

.box-main{
    margin: 0 70px;
    display: grid;
    grid-template:"img-box-main empty "/ 
                   435px          1fr ;
}
.img-box-main{
    display: grid;
    width: 100%;
    grid-template: "img-box      img-box   img-box     img-box   img-box     img-box   img-box" 435px
                    "empty-0     empty-0   empty-0     empty-0   empty-0     empty-0   empty-0" 30px
                    "box-mini-1  empty-1   box-mini-2  empty-2   box-mini-3  empty-3   box-mini-4"90px /
                    90px         20px      90px        20px       90px       20px       90px
}
.img-box{
    grid-area: img-box;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.box-img-1{
    grid-area: box-mini-1;
}
.box-img-2{
    grid-area: box-mini-2;
}
.box-img-3{
    grid-area: box-mini-3;  
}
.box-img-4{
    grid-area: box-mini-4;    
}
.img-mini{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.box-img-mini{
    border: 2px solid rgb(255, 125, 26);
    border-radius: 15px;
}
.img-mini-activo{
    opacity: 0.4;
}
.cant-box{
    display: flex;
    flex-direction: row;
}
.icon-op{
    width: 50px;
    height: 50px;
    background-color: rgb(230,230,230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border:1px solid whitesmoke;
}
.btn-restar{
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    color:rgb(255, 125, 26);
    font-size: 2em;
    cursor: pointer;
}
.cant-obj{
    color: rgb(48,48,48);
    font-size: 1.3em;
}
.btn-sumar{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    color:rgb(255, 125, 26);
    font-size: 1.8em;
    cursor: pointer;
}
.lighbox{
    position: fixed;
    background-color: rgb(64,64,64,.9);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-lighbox{
    width: 550px;
    height: 600px;
    background-color: red;
}
.btn-atras{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    top: 50%;
    left:96%;
}

