*{
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}

.box-main{
    margin: 0 70px;
    display: grid;
    grid-template:"img-box-main empty "/ 
                   435px          1fr ;
}
.img-box-main{
    display: grid;
    width: 100%;
    grid-template: "img-box      img-box   img-box     img-box   img-box     img-box   img-box" 435px
                    "empty-0     empty-0   empty-0     empty-0   empty-0     empty-0   empty-0" 30px
                    "box-mini-1  empty-1   box-mini-2  empty-2   box-mini-3  empty-3   box-mini-4"90px /
                    90px         20px      90px        20px       90px       20px       90px
}
.img-box{
    grid-area: img-box;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.box-img-1{
    grid-area: box-mini-1;
}
.box-img-2{
    grid-area: box-mini-2;
}
.box-img-3{
    grid-area: box-mini-3;  
}
.box-img-4{
    grid-area: box-mini-4;    
}
.img-mini{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.box-img-mini{
    border: 2px solid rgb(255, 125, 26);
    border-radius: 15px;
}
.img-mini-activo{
    opacity: 0.4;
}
.cant-box{
    display: flex;
    flex-direction: row;
}
.icon-op{
    width: 50px;
    height: 50px;
    background-color: rgb(230,230,230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border:1px solid whitesmoke;
}
.btn-restar{
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    color:rgb(255, 125, 26);
    font-size: 2em;
    cursor: pointer;
}
.cant-obj{
    color: rgb(48,48,48);
    font-size: 1.3em;
}
.btn-sumar{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    color:rgb(255, 125, 26);
    font-size: 1.8em;
    cursor: pointer;
}
.lighbox{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 64, 64, .9);
    width: 100%;
    height: 100vh;
    z-index: 5;
}
.main-lighbox{
    width: 550px;
    height: 600px;
    
}
.btn-style {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(24, 24, 24);
    position: relative;
    top: 198px;
}

.ligh-hidden {
    display: none;
}

.btn-adelante {
   /*  top: 25%; */
    
    left: 87%;
    z-index: 20;
    top: 152px;
    background-color: antiquewhite;
}

.btn-atras {
   /*  top: 25%; */
    left: -2%;
    z-index: 20;
    background-color: aqua;
}

.btn-cerrar {
    position: relative;
    display: flex;
    left: 85%;
    font-size: 1.3em;
    z-index: 400;
    font-size: 1.5em;
    color:#f07313;

}

.style-btn {
    font-weight: 900;
    font-size: 1.3em;
}

.img-main-ligh {
    position: relative;
    grid-area: img-main;
    top: -88px;
    width: 100%;
    height: 410px;
    border-radius: 20px;
    z-index: 10;
    animation: infinite;
    transition: animation 15s;
}
.box-ImgSecond1 {
    grid-area: img-secundary-1;
}

.box-ImgSecond2 {
    grid-area: img-secundary-2;
}

.box-ImgSecond3 {
    grid-area: img-secundary-3;
}

.box-ImgSecond4 {
    grid-area: img-secundary-4;
}

.img-secundary {
    
    width: 100px;
    /* height: 80px; */
    border-radius: 10px;
    cursor: pointer;
} 

.box-img-activo {
    margin-left: 20px;
    display: grid;
    width: 100%;
    grid-template: " img-main          img-main      img-main            img-main   img-main           img-main   img-main       " 370px 
                    "empty-0           empty-0       empty-0             empty-0    empty-0            empty-0    empty-0        " 1px  
                    "img-secundary-1   empty-1       img-secundary-2     empty-2    img-secundary-3    empty-3    img-secundary-4 "20px /
                    105px               20px         105px                20px      105px             20px        105px;
}

