h1{
    text-align: center;
    font-size: 3.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    width: 400px;
    height: 400px;
    background-color: rgb(233, 207, 207);
    margin:  10px;
    color: black;
    font-size: 2em;
}
.box-direction{
    display: flex;
    background-color: darkcyan;
    flex-direction: row;
}
.box-wrap{
    display: flex;
    background-color: darkcyan;
    flex-direction: row;
    flex-flow: wrap;
}
.box-nowrap{
    display: flex;
    background-color: darkcyan;
    flex-direction: row nowrap;
}
.box-wrap-continuo{
    display: flex;
    flex-flow: column wrap;
    height:415px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 40px;
}
.box-space-between{
    display: flex;
    background-color: darkcyan;
    justify-content: space-between;
}
.box-space-around{
    height: 420px;
    display: flex;
    background-color: darkcyan;
    justify-content: space-around;
}
.box-space-evenly{
    height: 420px;
    display: flex;
    background-color: darkcyan;
    justify-content: space-evenly;  
}
.box-flex-start{
    height: 420px;
    display: flex;
    background-color: darkcyan;
    justify-content: flex-start;
}
.box-flex-end{
    height: 420px;
    margin-top: 10px;
    display: flex;
    background-color: darkcyan;
    justify-content: flex-end;
    flex-flow: row-reverse;
}
.box-flex-center{
    height: 420px;
    display: flex;
    background-color: darkcyan;
    justify-content: center;
}
.box-align-start{
    height: 420px;
    display: flex;
    background-color: darkcyan;
    align-items: flex-start;
}
.box44{
    height: 450px;
}
.box45{
    height: 210px;
}
.box-align-end{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom:2px solid rgb(64,64,64,.8) ;
    width: 750px;
   border-left: 2px solid rgb(64,64,64,.8) ;
}
.box-box-align{
    display: flex;
    width: 130px;
    margin-bottom: 0;
    font-size: 1.4em;
    justify-content: center;
    align-items: center;
    color: white;
}
.box47{
    height: 350px;
    background-color: rgb(255, 198, 132);
}
.box48{
    height: 210px;
    background-color:rgb(152, 109, 192);
}
.box49{
    height: 60px;
    background-color: rgb(240, 147, 224);
}
.box50{
    height: 390px;
    background-color: rgb(126, 168, 230);
}
.box51{
    height: 280px;
    background-color: rgb(233, 122, 122);
}
.box-main-align{
    display: flex;
    justify-content: center;
}
.texto-grafica{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 1.5em;
    text-align: center;
    padding-left: 10px;
}
.linea{
    border-bottom: 1.5px solid rgb(201, 195, 195);
    position: absolute;
    margin-bottom: 60px;
    z-index: -1;
    width: 750px;
}
.one{
    margin-bottom: 350px;
}
.two{
    margin-bottom: 210px;
}
.four{
    margin-bottom: 390px;
}

.five{
    margin-bottom: 280px;
}




