*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu{
    display: grid;
    position: fixed;
    background: white;
    width: 100%;
    height: 95px;
    border: none;
    border-bottom: 1.5px solid rgb(199, 194, 194);
}
nav{
    width: 100%;
    height: 100px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px; 
}
li{
    display: flex;
    flex-direction: row;
}
a{
    list-style: none;
    text-decoration: none;
    color: rgb(68, 67, 67);
    font-size: 1.2em;
    padding: 15px;
}
.icono{
    padding: 15px 2px;
    font-size: 1.2em;
    color:  rgb(68, 67, 67);
}
.icono:hover,img:hover{
   cursor: pointer;
}
.img-cmr{
    padding-top: 4px;
    width: 40px;
}
.img-logo{
    width: 280px;
    padding: 8px 40px;
}
.div-busqueda{
    width: 450px;
    padding: 7px 2px;
    border-radius: 7px;
    font-size: 1em;
    border: 0.5px solid rgb(180, 177, 177) ;
}
.lupa{
    font-size: 1.2em; 
    z-index: 2;
    color:  rgb(68, 67, 67);
    padding: 0 20px;
}
.lupa:hover{
    cursor: pointer;
}
.img-logo-Jn{
    display: none;
}
.Hamburguer{
    display: none;
}
.form-ana{
    position: fixed;
    width: 406px;
    right: 20px;
    height: 100vh;
    top: 0;
    display: grid;
    grid-template:"frm-header" 70px
                  "frm-body"minmax(150px,80vh)
                  "frm-input" 60px
                  "frm-exit"100px/
                  406px;
}
.form-header{
    grid-area: frm-header;
    background-color: rgb(0, 114, 206);
    display: flex;
    flex-direction: row;
}
.img-ana-1{
    width: 60px;
    height: 60px;
    margin-top:5px;
    margin-left: 5px;
}
.img-ana-2{
    width: 100px;
    height: 95px;
  /*   margin-top:5px;
    margin-left: 5px; */
}
.title-form{
    font-family: poppins;
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-body{
    grid-area: frm-body;
    background-color: rgb(234,238,243);
    display: grid;
    grid-template: "empty-left  form-text empty-right"/
                       50px        1fr        40px; 
}
.form-text{
    grid-area: form-text;
    background-color: darkcyan;
    margin-top: 5px;
}
.form-input{
    grid-area: frm-input;
    background-color: rgb(234,238,243);
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid rgb(0, 114, 206);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-text{
    margin-left: 20px;
    border: none;
    background-color: transparent;
    color: rgb(64,64,64);
    font-family: poppins,sans-serif;
    outline: none;
}
.icon-smile{
    margin-right: 30px;
    font-size: 1.3em;
}
.exit-style{
    background-color: rgb(0, 114, 206);
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.7em;
    font-family: lato;
    font-weight: 300;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-exit{
    grid-area: frm-exit;
    display: flex;
    justify-content: flex-end;
}
.text-opciones{
    background-color: white;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
}
.text-form-black{
    font-weight: 900;
    display: block;
    padding-top:40px;
    letter-spacing: 0.5em;

}
@media only screen and (max-width:1300px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    a{
        display: none; 
    }
    .img-logo{
      
       display: none; 
    }
    .img-logo-Jn{
        display: flex;
        width: 120px;
        padding: 5px 30px;
    }
    .menu-Busqueda{
        padding: 20px;
        position: fixed;
        border-bottom: 1px solid black;
        width: 100%;
        height: 100px;
        display: none;
    }
    .lupa{
        padding: 0 20px 0 10px;
    }
    .icono{
        margin: 20px;
        font-size: 1.3em;
    }
    .div-busqueda{
        padding: 7px 3px;
    }
   
    .Hamburguer{
        visibility: hidden;
    }
}
@media only screen and (max-width:968px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .div-busqueda{
        display: none;
    }
    .img-logo-Jn{
        width: 120px;    
    }
    .Hamburguer{
        visibility: inherit;
        font-size: 1.5em;
        color:  rgb(68, 67, 67);
        padding: 0 90px 0 0px;
    }
    .menu-Busqueda{
        padding: 20px;
        border-bottom: 1px solid black;
        width: 100%;
        height: 100px;
        display: flex;
    }
    .position{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-Busqueda-Inactivo{
        display: none;
       
    }
    .menu-inactivo{
        display: none;
    }
    .lupa2{
        text-align: left;
        font-size: 1.5em;
        padding: 0 90px 0 20px;
        color:  rgb(68, 67, 67);;
    }
    .text{
        width: 100%;
        height: 30px;
        padding: 2px; 
        text-align: left;
        border-radius: 12px;
        outline:none;
        border:none;
    }
    .equis{
        text-align: right;
        font-size: 1,5em;
        margin-right: 10px;
        color:  rgb(68, 67, 67);
        padding: 0 50px 0 100px;
       
    }
}
@media only screen and (max-width:600px){
   
    .img-logo-Jn{
        width: 100px;     
    }
    .Hamburguer{
        visibility: inherit;
        font-size: 1.5em;
        color:  rgb(68, 67, 67);
        padding: 0 40px 0 10px;
    }
    .icono{
        font-size: 1.1em;
    }
    .img-cmr{
        width: 30px;
    }
    .lupa2{
        font-size: 1.2em;
        padding: 0 30px 0 10px;
    }
    .equis{
        font-size: 1,2em;
        color:  rgb(68, 67, 67);
        padding: 0 10px 0 40px;
    }
}
