
h1{
    text-align: center;
    color:black;
    font-size: 4em;
    background-color:aqua;
}
h2 {
    text-align: center;
}
p{
    text-align:justify;
    width: 85%;
    font-size:1.5em;
}
.img-100{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.box {
    display:inline-block; 
    border: 3px solid rgb(64,64,64.7);
    border-radius: 3%;
    margin: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 30%;
    height: 50%;
    vertical-align: top; 
}
.imagen2 {
    margin-left: 0.1%;

}
.imagenes{
    margin-left: 2%;
}
