
.img-100{
    width: 400px;
    display: inline-block;
    margin:20px;
    padding: 1em;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}
h1{
    text-align: center;
    color:black;
    font-size: 6em;
    background-color:aqua;
    font-family: 'Bebas Neue',cursive;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
    color: rgb(164, 61, 33);
    align-items: center;
}

p{
    text-align: center;
    color: rgb(26, 25, 25);
    padding: 0.5em;
    font-size: larger;
}


/*.imagen2{
    display:inline-block;
}*/
.box{
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    border-radius: 7px;
    vertical-align: top;
    margin: 1.5em;
}
.imagenes{
    display: inline-block;
    margin-left: 10vh;
}
.imagen2{
    display: inline-block;
    margin-left: 10vh;
}
body{
    background-color: rgb(243, 234, 224);
}