*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
.icon-style{
    color: rgb(64, 64,64.8);
    font-size: 1.2em;
    padding-right: 5px;
}
nav{
    background-color:white;
    position: fixed;
    top:0;
    left:0;
    width: 220px;
    height: 100vh;
    border: 1px solid;
    border-bottom: none;
    border-top: none;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
hr{
    background-color: rgb(91, 12, 12);

}
.iconos{
    padding: 10px 10px 25px 10px;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background:white;
    height: 100vh;
    position: relative;
    transition: all 500ms ease ; 
}
.cont-menu nav li{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #202020;
    transition: all 400ms ease;
}
.cont-menu nav li:hover{
    background: rgb(233, 230, 230);
    font-size: 105%;
    width: 98%;
    color: rgb(10, 10, 10);
    border-radius: 2px;
    cursor: pointer;
  
}
  