*{
    padding: 0;
    margin: 0;
}
.fondo{
    width: 100%;
    height: 100vh;
    background-image: url(../img/kfo6_lglq_220301.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
   
}
.car{
    width: 10%;
    position: absolute;
    z-index: 70;
    background-image: url(../img/car-driving-7.gif);
}